*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-family: sans-serif;
}
#main {
    
}
.clear {
    clear: both;
}

#header {
    height: 46.4px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
.nav {
    display: inline-block;
    
}
.nav>li {
    display: inline-block;
}

.nav li {
    position: relative;
}
.nav li a {
    line-height: 46.4px;
    padding: 0 24px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    display: block;
}
.nav>li:hover>a {
    background-color: #ccc;
    color: black;
}
.subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    list-style-type: none;
    
}
.subnav li a {
    color: #000;
}
.subnav li:hover a {
    background-color: #ccc;
    color: #000;
}
.nav li:hover .subnav{
    display: block; 
}
#mobile-menu,
#search {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
#mobile-menu,
#search i {
    line-height: 46.4px;
    padding: 0 24px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
#mobile-menu:hover {
    background-color: #ccc;
    color: #000;
}
#search:hover {
    cursor: pointer;
    background-color: #f44336;
}
#slider {
    background: url(https://www.w3schools.com/w3images/la.jpg) top center / cover no-repeat;
    margin-top: 46.4px;    
    padding-top: 50%;
    position: relative;    
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
#slider .text-description {
    margin-top: 25px;
}
#content .content-selection {
    width: 784px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 16px;

}
.selection-heading {
    text-align: center;
    margin: 10px 0px;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 4px;
    text-transform: uppercase;
    
}

.selection-sub-heading {
    text-align: center;
    margin: 15px 0px;
    font-size: 15px;
    opacity: 0.6;
    font-style: italic;
    text-transform: capitalize;
}
.about-text {
    margin: 15px 0px;
    font-size: 15px;
    line-height: 22.5px;

    text-align: justify;
    
}
.member-list {
    padding: 32px 0;
}
.member-list .member-item {
    float: left;
    width: calc(100% / 3);
    text-align: center;

    

}
.member-item .name-member{
    margin: 15px 0;
    line-height: 22.5px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;

}
.member-item .img-member {
    width: 154px;
    border-radius: 4px;
}
.tour-selection{
    padding: 64px 0;
    background: #000;
    
}
.tour-selection .selection-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 45px;
    color: #fff;
}
.tour-selection .selection-sub-heading{
    margin: 30px 0; 
    font-size: 15px;
    font-style: italic;
    color:#fff;
    opacity: 0.6;


}
.tickets-list {
    margin: 40px 0;
    background: #fff;
    border: 1px solids;
}
.tickets-list li {
    padding: 12px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #757575;
    list-style-type: none;
    border-bottom: 1px solid #ddd ; 
    
}
.tickets-list .sold-out {
    margin: 0 16px;
    padding: 4px 8px;
    font-size: 15px;
    color: #fff;
    background-color: #f44336;
    display: inline-block;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-right: 16px;
}
.place-list{
    margin: 32px -8px !important
}

.place-item{
    float: left;
    width: calc(100% /3);
    padding: 0 8px;
}
.place-img {
    width: 100%;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body{
    background: #fff;
    padding: 16px 16px;
    margin-top: -4px;
}

.place-heading{
    padding: 15px 0;
    line-height: 22.5px;
    font-size: 15px;
    text-transform: capitalize;

}

.place-date{
    padding-bottom:15px;
    line-height: 22.5px;
    font-size: 15px;
    text-transform: capitalize;
    opacity: 0.6;
}

.place-text{
    margin-bottom: 30px;    
    line-height: 22.5px;
   
    font-size: 15px;
    text-transform: inherit;

}
.place-body a {
    padding: 11px 16px;
    background: #000;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;

}
.place-body a:hover {
    color: #000;
    background: #ccc;

}
.body-contact {
    margin: 50px 0;
}
.contact-body-one {
    display: inline-block ;
    line-height: 23.2px;
}
.contact-body-one i
{
    width: 20px;
}
.contact-body-two{
    float: right;
}
.contact-body-two .ip-info-1 input{
    padding: 8px;
    margin-bottom: 15px;
}
.contact-body-two .ip-info-2 input{
    padding: 8px;
    width: 100%;

}
.btn-send {
    margin: 15px 0;
    padding: 11px 15px;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border: none;
}
.btn-send:hover {
    background: #ccc;
    color: #000;
}
#content>img {
    filter:grayscale(50%)
}
#footer {
    padding: 64px 16px;
    text-align: center;
    opacity: 0.6;

}
#footer i{
    font-size: 24px;
}
#footer p {
    margin: 15px 0;
    font-size: 15px ;
    text-decoration: none;
}
